spring:
  profiles:
    include:
      - db
      - privacy
    active: debug
  h2:
    console:
      enabled: false
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
    #url: jdbc:mysql://115.85.183.222:3306/tetris_db?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    #driver-class-name: com.mysql.cj.jdbc.Driver
    #username: tetris
    #password: ENC(RfA5RnAAQCL2A72px0dR0g==)
  devtools:
    livereload:
      enabled: true

  thymeleaf:
    prefix: classpath:templates/
    check-template-location: true
    suffix: .html
    mode: HTML5

  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 100
        use_sql_comments: true

  servlet:
    multipart:
      enabled: true
      max-file-size: 100MB
      max-request-size: 100MB

jasypt:
  encryptor:
    bean: jasyptStringEncryptor
    property:
      prefix: ENC(
      suffix: )