spring:
  jpa:
    properties:
      hibernate:
        format_sql: false

  thymeleaf:
    cache:true

logging:
  file:
    path: logs
  level:
    root: info
    org.hibernate.SQL: debug
    org.hibernate.type: trace
  logback:
    rollingpolicy:
      max-file-size: 500MB
      max-history: 1